<div ng-controller="customerManageCtrl">
    <ol class="breadcrumb">
        <!-- <li><a href="javascript:void(0)">系统管理</a></li> -->
        <li>客户管理</li>
    </ol>
    <div class="content-container">
        <div class="query">
            <div class="row">
                <form>
                    <div class="col-lg-2">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="role.kehumingcheng" placeholder="客户名称">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="role.pinpaimingcheng" placeholder="品牌名称">
                            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="query()"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-1 pull-right">
                        <div class="input-group input-group-sm pull-right">
                            <button class="btn btn-default btn-sm pull-right" ng-click="clearQuery()">
                                <span class="glyphicon glyphicon-remove text-danger"></span>清除
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row removepadding">
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-sm two-btn" ng-click="add()">新增</button>
                    <!-- <button class="btn btn-success btn-sm two-btn" ng-click="update()">修改</button>
                    <button class="btn btn-danger btn-sm two-btn" ng-click="del()">删除</button> -->
                </div>
            </div>
        </div>
        <div class="row page-result" ng-show="data.length > 0">
            <div class="col-lg-6">
                符合您的查询结果共有
                <label class="text-danger" ng-bind="total"></label>条
            </div>
            <div class="col-lg-6">
                <div class="pagination-size">
                    <select ng-change="changePageSize()" class="form-control input-sm" ng-options="option.name for option in page_size_arr track by option.value" ng-model="page_size">
                    </select>
                </div>
                <ul uib-pagination total-items="total" ng-model="role.page" max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" previous-text="上一页" next-text="下一页" items-per-page="role.rows" ng-change="query()"></ul>
            </div>
        </div>
        <div class="datagrid">
            <table class="table table-bordered" ng-show="data.length > 0" simple-select>
                <tr>
                    <th style="width:5%;">序号</th>
                    <th style="width:17%;">客户名称</th>
                    <th style="width:18%;">店面名称</th>
                    <th style="width:15%;">车辆型号</th>
                    <th style="width:12%;">车贷金额</th>
                    <th style="width:13%;">期数</th>
                    <th style="width:12%;">终审结果</th>
                </tr>
                <tr ng-repeat="customer in data" ng-click="selectRow(customer)" ng-class="{'bg-info' : customer.selected}">
                    <td>{{customer.number}}</td>
                    <td>{{customer.kehumingcheng}}</td>
                    <td>{{customer.dianmianmingcheng}}</td>
                    <td>{{customer.xinghao}}</td>
                    <td>{{customer.chedaijine}}</td>
                    <td>{{customer.qishu}}</td>
                    <td>{{customer.zhongshenjieguo | zhongshenjieguo}}</td>
                </tr>
            </table>
            <div ng-show="data.length == 0" class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;查无相关数据，请重新查询！
            </div>
        </div>
    </div>
    <div alert title="alert.title" content="alert.content" open="alert.open"></div>
</div>
<!-- end controller -->
<!-- 新增窗口 -->
<script type="text/ng-template" id="add.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modal-title">新增</h3>
    </div>
    <form name="add_form" novalidate>
        <div class="modal-body" id="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="col-sm-4 remove-padding control-label"><span class="text-require">*</span>客户名称：
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="yonghuming" class="form-control" ng-model="role.yonghuming" placeholder="客户名称" required>
                            <div ng-show="add_form.yonghuming.$dirty && add_form.yonghuming.$invalid" class="invalid">
                                <span ng-show="add_form.yonghuming.$error.required">请填写客户名称</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-sm-4 remove-padding control-label"><span class="text-require">*</span>密码：
                        </label>
                        <div class="col-sm-8">
                            <input type="password" name="yonghumima" class="form-control" ng-model="role.yonghumima" placeholder="密码" required ng-change="validPassword()">
                            <div ng-show="add_form.yonghumima.$dirty && add_form.yonghumima.$invalid" class="invalid">
                                <span ng-show="add_form.yonghumima.$error.required">请填写密码</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-sm-4 remove-padding control-label"><span class="text-require">*</span>重复密码：
                        </label>
                        <div class="col-sm-8">
                            <input type="password" name="repeat_yonghumima" class="form-control" ng-model="role.repeat_yonghumima" placeholder="重复密码" required ng-change="validPassword()">
                            <div ng-show="add_form.repeat_yonghumima.$dirty && add_form.repeat_yonghumima.$invalid" class="invalid">
                                <span ng-show="add_form.repeat_yonghumima.$error.required">请填写重复密码</span>
                            </div>
                            <p ng-show="invalid_password && !add_form.repeat_yonghumima.$invalid" class="invalid">密码不一致</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="add_form.$invalid || not_authority ||invalid_password" class="btn btn-primary" type="button" ng-click="ok()">确定</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>
